<app-nav-bar></app-nav-bar>

<div class="container-fluid">
  <div class="row">
    <app-sidebar></app-sidebar>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Admin</h1>
      </div>
      <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
        <app-single-link-card *ngFor="let item of panelData" [title]="item.title" [icon]="item.icon"></app-single-link-card>
      </div>
    </main>
  </div>
</div>



