/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    a img {
        width: 80px;
        height: 80px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    a img {
        width: 100px;
        height: 100px;
      }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    a img {
        width: 80px;
        height: 80px;
      }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    a img {
        width: 80px;
        height: 80px;
      }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    a img {
        width: 80px;
        height: 80px;
      }
} 
